/* frontend/src/index.css */
@import "tailwindcss";

:root {
  --color-primary: #16a34a;
  --color-primary-dark: #138b3e;
  --color-primary-light: #3ddc6a;
}

@font-face {
    font-family: 'Antarctica';
    /* FIX: Add './fonts/' to the path */
    src: url('./fonts/Antarctica-Bold.woff2') format('woff2'),
        url('./fonts/Antarctica-Bold.woff') format('woff');
    font-weight: bold; /* This corresponds to font-weight: 700 */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antarctica';
    /* FIX: Add './fonts/' to the path */
    src: url('./fonts/Antarctica-Book.woff') format('woff2'),
        url('./fonts/Antarctica-Book.woff') format('woff');
    font-weight: normal; /* This corresponds to font-weight: 400 */
    font-style: normal;
    font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Antarctica', sans-serif;
  color: #1F2937;
  background-color: #F9FAFB;
}